body{
    background-color: black;
    font-family: 'Asap', sans-serif;
}

#container
{
    background-color: white; 
    width: 50%;
    margin-top: 20px;
    padding:20px;
    /* box model consist of content, which is in the middle of the box. The border which is the frame for the content. The margin, it's like an invisible border outside the border. And Padding which surrounds the contents itself. */
    color: black;
    margin: auto;
}

.left-col
{
    float: left;
    width: 50%;
    
    
}

.right-col
{
    float: right;
    width: 48%;
    
}

.clearFix
{
    clear: both;
}

h1{
    color: #A64AC9;
}

#purpleNurple
{
    color:#A64AC9;
    text-decoration: none;
    border: 3px solid #A64AC9;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    padding-top: 12px;
}

.image
{
    width:300px;
    height: auto;

}

.purple
{
    color: #A64AC9;
}